.contacts-wrap {
    background-image: url('../../img/pics/lines.jpg');
    // image-set for FF, only jpg gets downloaded for not supporting browsers
    background-image: -webkit-image-set(url('../../img/pics/lines.webp') 1x);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.contacts {
    $root: &;

    display: flex;
    justify-content: space-between;  
    
    &--grow-1 {
        flex-grow: 1;
    }

    &__column {
        flex-direction: column;
    }    

    &__pic {
        width: 500px;
        height: auto;
    }   

    &__main-item {  
        &.phone {
            &:before {
                @extend %icon-before-list;
                background-image: url('../../img/svg/call.svg');
            }  
        }  
        
        &.email {
            &:before {
                @extend %icon-before-list;
                background-image: url('../../img/svg/mail.svg');
            }  
        } 

        &.location {
            &:before {
                @extend %icon-before-list;
                background-image: url('../../img/svg/location.svg');
            }  
        } 

        &.birthday {
            &:before {
                @extend %icon-before-list;
                background-image: url('../../img/svg/birthday.svg');
            }  
        }             
    }

    &__social {
        display: flex;
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;         
    }

    &__social-item + #{$root}__social-item {
        margin-left: 18px;
    }
}

