.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e2e3e7;
    z-index: 10;
    opacity: .9;
}
.menu {
    $root: &;

    display: flex;
    align-items: center;

    &__link {
        height: 42px;
        display: flex;   
        align-items: center; 
        text-decoration: none;
        color: black;
        padding: 0 16px;

        &:hover,
        &.active {
            outline: none;
            background-color:#97a79b;
        }
    }
}
