.main {
    padding-top: 66px;
    height: 600px;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../img/pics/table-2.jpg');
        // image-set for FF, only jpg gets downloaded for not supporting browsers
        background-image: -webkit-image-set(url('../../img/pics/table-2.webp') 1x);
        background-size: cover;
        background-repeat: no-repeat;  
        filter: brightness(0.2); 
    }
}