.skills {
    display: flex;
    justify-content: space-between;

    @include desktop {
		flex-wrap: wrap;
    }   

    &__part {
        width: 49%;
        padding: 24px; 
        
        @include desktop {
            width: 100%;
        }
        
        &:first-child {
            margin-right: 24px;

            @include desktop {
               margin-right: 0;
               margin-bottom: 30px;
            }
        }
    }    

    &__item { 
        &:before {
            @extend %icon-before-list;
            background-image: url('../../img/svg/skills.svg');
        }
    }
}

	