.skills {
    display: flex;
    justify-content: space-between;

    &__part {
        width: 49%;
        padding: 24px;        
        background: #efe9e9;
        box-shadow: inset 0px 0px 8px 0px #aba2a2;  
        
        &:first-child {
            margin-right: 24px;
        }
    }    

    &__item { 
        &:before {
            @extend %icon-before-list;
            background-image: url('../../img/svg/thought.svg');
        }
    }
}