.vertical-block {
	position: absolute;
	width: 60px;
	left: 0;
	top: 0;
    height: 100%;
    padding-left: 12px;
	display: flex;
    align-items: center;
    justify-content: center;;
    transform: rotate(-90deg);

    &__text {
        position: relative;
        padding-left: 32px;

        &:before {
            content: '';
            width: 30px;
            height: 6px;
            position: absolute;
            left: 0;
            bottom: 0;
            background:#c30c7a;
        }
    }
}